.item {
  align-content: center;
}

.form {
  margin: 50px 50px 50px 50px;
  max-width: 700px;
  font-family: "Baloo Tammudu 2", cursive;
}

.title {
  font-size: 40px;
  color: black;
  font-family: "Nanum Gothic", sans-serif;
}

button {
  text-align: left;
}
.label {
  text-align: left;
  font-size: 1.5rem;
}
