.row {
  margin: none;
  padding: none;
}
.navigation {
  width: 100%;
  height: 7rem;
  font-family: "Oswald", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.home {
  font-size: 4rem;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
}
.nav-link {
  font-size: 1.8rem;
}
.mr-auto {
  max-height: 50px;
}
.nav-link:hover {
  color: white;
}
